<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Completion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</head>

<body>
    <div id="chat-container">
        <div id="chat-box"></div>
        <div id="input-container">
            <form id="chat-form">
                <input type="text" placeholder="Type a message..." id="user-input">
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
    <script>let endpointChat = "{{ url_for('chat.chat_interface') }}";
    </script>
    <script>
        let form = document.getElementById('chat-form');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            sendMessage()
        });
    </script>
</body>

</html>