<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Completion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</head>

<body>
    <div id="chat-container">
        <div id="chat-box"></div>
        <div id="input-container">
            <form id="chat-form">
                <input type="text" placeholder="Type a message..." id="user-input">
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
    <script>
        let endpointChat = "{{ url_for('chat.chat_interface') }}";
        let form = document.getElementById('chat-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const chatBox = document.getElementById('chat-box');
            const userInput = document.getElementById('user-input');
            const messageText = userInput.value.trim();

            if (messageText === '') {
                return;
            }

            // Display the user's message
            const userMessage = document.createElement('div');
            userMessage.className = 'message user-message';
            userMessage.textContent = messageText;
            chatBox.appendChild(userMessage);

            // Init Assistant Element
            let assistantMessage = document.createElement('div');
            assistantMessage.className = 'message assistant-message';

            // Clear the input field
            userInput.value = '';

            // Scroll to the bottom of the chat box
            chatBox.scrollTop = chatBox.scrollHeight;

            let chatMessages = chatBox.getElementsByClassName('message');
            let chat_history = []
            for (let i = 0; i < chatMessages.length; i++) {
                let message = chatMessages[i];
                if (message.classList.contains('user-message')) {
                    chat_history.push({
                        role: 'user', content: message.innerText
                    })
                }
                else if (message.classList.contains('assistant-message')) {
                    chat_history.push({
                        role: 'assistant', content: message.innerText
                    })
                }
                else if (message.classList.contains('system-message')) {
                    chat_history.push({
                        role: 'system', content: message.innerText
                    })
                }
                else {
                    // do nothing
                }
            };
            console.log(chat_history)

            const stream = textStreaming(endpointChat, chat_history);
            chatBox.appendChild(assistantMessage);


            for await (const data of stream) {
                const jsonObject = JSON.parse(data);
                const bot_message = jsonObject.message.content

                assistantMessage.appendChild(document.createTextNode(bot_message));
                // If there are linebreaks, append <br>
                if (bot_message.split('\n').length > 1) {
                    bot_message.split('\n').forEach(line => {
                        let lineBreak = document.createElement('br');
                        assistantMessage.appendChild(lineBreak);
                    });
                }
                chatBox.scrollTop = chatBox.scrollHeight;
            }
        });
    </script>
</body>

</html>